
*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

:root{
    --marromEscuro: #806753;
    --marromClaro: #FFCEA6;
}

img{
    margin: 0px;
    width: 100%;
    height: 100%;
}


/*HEADER ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

#navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100vw;
    background-color: var(--marromEscuro);
    z-index: 999;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-logo{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10em ;

}

.navbar-logo img{
    display: flex;
    width: 92px;
    size: 92px;
}

#botao-navbar-logo{
    margin: 0%;
    padding: 0%;
    border: 0em;
    background-color: var(--marromEscuro);
}

.navbar-list{
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 70px;
}

.navbar-list ul{
    font-size: 22px;
    display: flex;
    text-align: center;
    gap: 3em;
    padding-right: 300px;
    margin: 0;
}

.navbar-list ul a{
    color: var(--marromClaro);
    white-space: nowrap;

}

.navbar-list ul a:hover{
    color: white;
    cursor: pointer;
}

#burguer{
    display: none;
    color: var(--marromClaro);
    padding-right: 180px;
}


#burguer:hover{
    color: white;
    cursor: pointer;
}

.mobile-menu{
    display: none;
    color: var(--marromClaro);
}

.mobile-menu ul a{
    color: var(--marromClaro);
}

.mobile-menu ul a:hover{
    color: white;
    cursor: pointer;
}

/*MAIN --------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

main{
    padding-top: 250px;
}

#custom-background {
    display: flex;
    width: 43em;
    height: 37em;
    background: var(--marromEscuro);
    position: absolute;
    top: 12.5em;    
    right: 12.5em;
    z-index: -1;
}

#hash-paginainicial{
    height: 5px;
    width: 250px;
    background-color: var(--marromEscuro);
}

#tituloExterno{
    white-space: nowrap;
    padding-top: 20px;
    color: var(--marromEscuro);
    font-size: 2.3em;
}

#subtituloExterno{
    white-space: nowrap;
    padding-top: 20px;
    color: var(--marromEscuro);
    font-size: 1.2em;
}

#carouselExampleIndicators {
    width: 600px; 
    height: 435px;
    margin: auto;
  }

  .carousel-item {
    text-align: center;
    width: 600px;
    height: 420px;
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 10%;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 70px; 
    width: 70px; 
    background-size: 100%, 100%; 
  }

  .carousel-indicators{
    margin-left: 5em;
    }
  
  .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.486);
  }
  
  .carousel-indicators .active {
    background-color: white; 
  }

  #saibaMaisBtn{
    margin-top: 200px;
    padding: 6em, 2rem, 1.1em;
    border-radius: 4px;
    border: var(--marromClaro);
    background-color: var(--marromEscuro);
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em, -0.2em 0em var(--marromClaro) inset;
    color: var(--marromClaro);
    padding-left: 5px;
    padding-right: 5px;
    min-width: 30px;
    max-width: 153px;
    white-space: nowrap;
  }


#saibaMaisBtn:hover{
    background-color: transparent;
    color: var(--marromEscuro);
    outline: 2px solid var(--marromEscuro);
    cursor: pointer;
}

.container2{
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
}

#titulo-texto{
    margin-top: 200px;
    text-align: center;
    color: var(--marromEscuro);
    font-size: 2em;
}

#subtitulo-texto{
    text-align: center;
    color: var(--marromEscuro);
}

.paragrafos{
    text-align: center;
    width: 900px;
    font-size: 1em;
    text-align: justify;
    padding: 0px 100px 0px 100px;
    letter-spacing: 1px;
    line-height: 180%;
    text-indent: 70px;
}

#fotomandioca-paginainicial{
    height: 400px;
    width: 600px;
    margin-right: 100px;
}

#container3{
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

#texto-panorama{
    margin-top: 60px;
    color: var(--marromEscuro);
    font-size: 2em;
    text-align: center;
}

#botao-panorama{
    text-align: center;
}

#saibamais-panorama{
    margin-top: 60px;
    margin-bottom: 60px;
    border-radius: 4px;
    border: var(--marromClaro);
    background-color: var(--marromEscuro);
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase;
    box-shadow: 0em, -0.2em 0em var(--marromClaro) inset;
    color: var(--marromClaro);
    white-space: nowrap;
}

#saibamais-panorama:hover{
    background-color: transparent;
    color: var(--marromEscuro);
    outline: 2px solid var(--marromEscuro);
    cursor: pointer;
}


/*FOOTER ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/


footer{
    height: 350px;
    background-color: var(--marromEscuro);
}

#footer-container{
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer-text{
    color: white;
    margin: auto;
    text-align: center;
}

#logo-footer{
    height: 200px;
    width: 200px;
    margin: auto;
}

#footer-contacts{
    display: flex;
    margin: auto;
    gap: 30px;
}

#footer-contacts i{
    color: white;
    font-size: 1.7rem;
}

#footer-contacts i:hover{
    color: var(--marromClaro);
}

#footer-navbar{
    display: flex;
    justify-content: center;
    margin: 30px;
}

#footer-navbar ul{
    display: flex;
    font-size: 22px;
    text-align: center;
    gap: 3em;
}

#footer-navbar ul a{
    color: white;
    white-space: nowrap;
}

#footer-navbar ul a:hover{
    color: var(--marromClaro);
}

@media(min-width: 1900px){
    .navbar-list ul{
        font-size: 25px;
        gap: 4em;
        padding-right: 200px;

    }

    #footer-navbar ul{
        gap: 5em;
    }
}

@media(max-width: 1400px){
    .navbar-logo{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 6em;
    }
}

@media(max-width: 1250px){
    #navbar{
        display: flex;
        padding: 13px 0 13px 1em;
        gap: 3em; 
        position: relative;
    }

    .navbar-list ul{
        display: none;
    }

    .navbar-logo{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 5em;
    
    }

    #burguer{
        display: flex;
    }

    .mobile-menu{
        background-color: var(--marromEscuro);
        height: 26.5em;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;

    }

    .mobile-menu ul a{
        display: block;
        padding-top: 1.2rem;
        border-top: 0.0625rem solid rgba(0, 0, 0, 0.171);
        border-radius: 0%;
    }

    .open{
        display: block;
    }

}

@media(max-width: 1023px){
    footer{
        display: flex;
        height: 430px;
    }


    #footer-container{
       grid-template-columns: min-content;
       gap: 3rem;
       width: 50%;
       order: 1;
       margin: 30px 30px 20px 70px;
    }

    footer img{
        height: 150px;
        width: 150px;
        order: 2;
    }

    #footer-contacts{
        order: 3;
    }

    #footer-contacts i{
        font-size: 1.4em;
    }

    #footer-text{
        font-size: 14px;
        order: 4;
    }

    #footer-navbar{
        width: 50%;
        order: 5;
        margin: 30px 34px 30px 30px;
    }

    #footer-navbar ul{
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        font-size: 20px;
    }

}

@media(max-width: 767px){
    #navbar{
        gap: 2em;
    }  

    footer{
        display: flex;
        height: 350px;
    }


    #footer-container{
       grid-template-columns: min-content;
       gap: 3rem;
       width: 50%;
       order: 1;
       margin: 30px 30px 20px 70px;
    }

    #logo-footer{
        height: 100px;
        width: 100px;
        order: 2;
        align-items: center;
    }

    #footer-contacts{
        order: 3;  
    }

    #footer-contacts i{
        font-size: 1.2em;
    }

    #footer-text{
        font-size: 10px;
        order: 4;
    }

    #footer-navbar{
        width: 50%;
        order: 5;
        margin: 30px 34px 30px 30px;
    }

    #footer-navbar ul{
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
        font-size: 15px;
    }

}