
body{
    background-color: grey;
}

#carouselExampleIndicators {
    max-width: 769px; 
    height: 512px;
    margin: auto;
  }
  
  .carousel-inner {
    border-radius: 10px;
  }
  
  .carousel-item {
    text-align: center; 
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 10%; 
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 70px; 
    width: 70px; 
    background-size: 100%, 100%; 
   
  }
  
  .carousel-indicators li {
    background-color: rgba(255, 255, 255, 0.486);
  }
  
  .carousel-indicators .active {
    background-color: white; 
  }

  