
*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

:root{
    --marromEscuro: #806753;
    --marromClaro: #FFCEA6;
}

img{
    margin: 0px;
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;
    overflow-y: auto;*/
  }
  

/*HEADER ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

#navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: var(--marromEscuro);
    z-index: 999;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-logo{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10em ;

}

.navbar-logo img{
    display: flex;
    width: 92px;
    size: 92px;
}

#botao-navbar-logo{
    margin: 0%;
    padding: 0%;
    border: 0em;
    background-color: var(--marromEscuro);
}

.navbar-list{
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 110px;
}

.navbar-list ul{
    font-size: 22px;
    display: flex;
    text-align: center;
    gap: 4em;
    margin-right: 9em;
    margin-bottom: 0em;
}

.navbar-list ul a{
    color: var(--marromClaro);
    white-space: nowrap;

}

.navbar-list ul a:hover{
    color: white;
    cursor: pointer;
}

li a.active {
    background-color: rgba(255, 206, 166, 0.2);
    border-radius: 10px;  
    padding: 2px;
    font-weight: 600;
}

#burguer{
    display: none;
    color: var(--marromClaro);
}


#burguer:hover{
    color: white;
    cursor: pointer;
}

.mobile-menu{
    display: none;
    color: var(--marromClaro);
}

.mobile-menu ul a{
    color: var(--marromClaro);
}

.mobile-menu ul a:hover{
    color: white;
    cursor: pointer;
}

/*MAIN --------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

main{
    padding-top: 180px;
}

#main-container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

#titulo-contato{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: #806753;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
#subtitulo-contato{
    text-align: center;
    margin: auto;
    color: #847D7D;
    font-family: Poppins;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

#lado-esquerdo{
    display: grid;
    background-color: var(--marromEscuro);
    color: white;
    height: 500px;
    width: 100%;
    align-items: center;
}

#lado-direito{
    display: grid;
    color: var(--marromEscuro);
    height: 500px;
    width: 100%;
    align-items: center;
}

.redes-sociais{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.icones{
    text-align: right;
    padding: 9px 30px 9px 30px;
    font-size: 2em;
}

.informações{
    font-size: 1.2em;
}

#email-contato{
    word-break: break-all;
    max-width: 350px;
}

#endereço-contato{
    word-break: break-all;
    max-width: 350px;
}


/*FOOTER ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/


footer{
    margin-top: 100px;
    height: 350px;
    background-color: var(--marromEscuro);
}

#footer-container{
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer-text{
    color: white;
    margin: auto;
    text-align: center;
}

#logo-footer{
    height: 200px;
    width: 200px;
    margin: auto;
}

#footer-contacts{
    display: flex;
    margin: auto;
    gap: 30px;
}

#footer-contacts i{
    color: white;
    font-size: 1.7rem;
}

#footer-contacts i:hover{
    color: var(--marromClaro);
}

#footer-navbar{
    display: flex;
    justify-content: center;
    margin: 30px;
}

#footer-navbar ul{
    display: flex;
    font-size: 22px;
    text-align: center;
    gap: 5.5em;
}

#footer-navbar ul a{
    color: white;
    white-space: nowrap;
}

#footer-navbar ul a:hover{
    color: var(--marromClaro);
}

/*MEDIA-QUERIES -----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

@media(min-width: 1900px){
    .navbar-list ul{
        font-size: 25px;
        gap: 5.5em;
        padding-right: 200px;

    }

    #footer-navbar ul{
        gap: 7em;
    }
}

@media(max-width: 1400px){
    .navbar-logo{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 6em;
    }
    
}

@media(max-width: 1250px){
    #navbar{
        display: flex;
        padding: 13px 0 13px 0;
        gap: 3em; 
        position: relative;
    }

    .navbar-list ul{
        display: none;
    }

    .navbar-logo{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 5em;
    }

    #burguer{
        display: flex;
        margin-right: 5em;
    }

    .mobile-menu{
        background-color: var(--marromEscuro);
        height: 23em;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1.4em;

    }

    .mobile-menu ul a{
        display: block;
        padding-top: 1.2rem;
        border-top: 0.0625rem solid rgba(0, 0, 0, 0.171);
        border-radius: 0%;
    }

    .open{
        display: block;
    }

}

@media(max-width: 1023px){
    footer{
        display: flex;
        height: 430px;
    }


    #footer-container{
       grid-template-columns: min-content;
       gap: 3rem;
       width: 50%;
       order: 1;
       margin: 30px 30px 20px 70px;
    }

    #logo-footer{
        height: 150px;
        width: 150px;
        order: 2;
        align-items: center;
    }

    #footer-contacts{
        order: 3;
        
    }

    #footer-contacts i{
        font-size: 1.4em;
    }

    #footer-text{
        font-size: 14px;
        order: 4;
    }
    
    #footer-navbar{
        width: 50%;
        order: 5;
        margin: 30px 34px 30px 30px;    
    }

    #footer-navbar ul{
        flex-direction: column;
        align-items: center;
        gap: 1.7em;
        font-size: 20px;
    }

}

@media(max-width: 768px){
#navbar{
    gap: 2em;
}  

footer{
    margin-top: 30px;
    display: flex;
    height: 350px;
}


#footer-container{
   grid-template-columns: min-content;
   gap: 3rem;
   width: 50%;
   order: 1;
   margin: 30px 30px 20px 70px;
}

#logo-footer{
    height: 100px;
    width: 100px;
    order: 2;
    align-items: center;
}

#footer-contacts{
    order: 3;  
}

#footer-contacts i{
    font-size: 1.2em;
}

#footer-text{
    font-size: 10px;
    order: 4;
}

#footer-navbar{
    width: 50%;
    order: 5;
    margin: 30px 34px 30px 30px;
}

#footer-navbar ul{
    flex-direction: column;
    align-items: center;
    gap: 2em;
    font-size: 15px;
}

main{
    padding-top: 80px;
}

#titulo-contato{
    text-align: center;
    margin: auto;
    color: #806753;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}
#subtitulo-contato{
    padding-top: 15px;
    text-align: center;
    margin: auto;
    color: #847D7D;
    font-family: Poppins;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    width: 380px;
}

#main-container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#lado-esquerdo{
    display: grid;
    background-color: var(--marromEscuro);
    color: white;
    height: 400px;
    width: 100%;
    align-items: center;
}

#lado-direito{
    display: grid;
    color: var(--marromEscuro);
    height: 400px;
    width: 100%;
    align-items: center;
}

.informações{
    font-size: 0.9em;
}

.icones{
    text-align: center;
    padding: 9px 30px 9px 30px;
    font-size: 1.8em;
}

#email-contato{
    word-break: break-all;
    max-width: 180px;
}

#endereço-contato{
    word-break: break-all;
    max-width: 180px;
}

}
