*{
    font-family: Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
}

:root{
    --marromEscuro: #806753;
    --marromClaro: #FFCEA6;
}

img{
    margin: 0px;
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
  

/*HEADER ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

#navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: var(--marromEscuro);
    z-index: 999;
    padding-top: 1em;
    padding-bottom: 1em;
}

.navbar-logo{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 10em ;

}

.navbar-logo img{
    display: flex;
    width: 5.75em;
    size: 5.75em;
}

#botao-navbar-logo{
    margin: 0%;
    padding: 0%;
    border: 0em;
    background-color: var(--marromEscuro);
}

.navbar-list{
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 110px;
}

.navbar-list ul{
    font-size: 22px;
    display: flex;
    text-align: center;
    gap: 4em;
    margin-right: 9em;
    margin-bottom: 0em;
}

.navbar-list ul a{
    color: var(--marromClaro);
    white-space: nowrap;

}

.navbar-list ul a:hover{
    color: white;
    cursor: pointer;
}

#burguer{
    display: none;
    color: var(--marromClaro);
}


#burguer:hover{
    color: white;
    cursor: pointer;
}

.mobile-menu{
    display: none;
    color: var(--marromClaro);
}

.mobile-menu ul a{
    color: var(--marromClaro);
}

.mobile-menu ul a:hover{
    color: white;
    cursor: pointer;
}

/*MAIN --------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

main{
    padding-top: 250px;
}

h1{
    text-align: center;
}

.barra-horizontal-agencia{
    display: flex;
    height: 6.5px;
    width: 30em;
    background-color: var(--marromEscuro);
    margin: auto;
    margin-top: 20px;
}

.container-agencia{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 6em;
}

.foto-agencia {
    display: flex;
    align-items: center;
    justify-content: right;
}

.foto-agencia img{
    height: 400px;
    width: 450px;
}

.info-agencia p{
   font-size: 1.3em;
   margin: 30px 0px 30px 0px;
   width: 700px;
}

#saibamais-botao{
    border-radius: 10px;
    border: var(--marromClaro);
    background-color: var(--marromEscuro);
    font-weight: 800;
    font-size: 1.3em;
    text-transform: uppercase;
    box-shadow: 0em, -0.2em 0em var(--marromClaro) inset;
    color: var(--marromClaro);
    white-space: nowrap;
    margin-left: 13em;
}

#saibamais-botao:hover{
    background-color: transparent;
    color: var(--marromEscuro);
    outline: 2px solid var(--marromEscuro);
    cursor: pointer;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--marromEscuro);
    border-radius: 30%;
    padding: 0.2rem;
    text-decoration: none;
    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none; 
}

.back-to-top span {
    color: var(--marromClaro);
    font-size: 3rem;
    transition: 0.2s ease-out;
}

.back-to-top:hover {
    background-color: var(--marromEscuro);
}

.back-to-top:hover span {
    transform: translateY(-4px);
}

/*FOOTER ------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/

footer{
    height: 350px;
    background-color: var(--marromEscuro);
}

#footer-container{
    height: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#footer-text{
    color: white;
    margin: auto;
    text-align: center;
}

#logo-footer{
    height: 200px;
    width: 200px;
    margin: auto;
}

#footer-contacts{
    display: flex;
    margin: auto;
    gap: 30px;
}

#footer-contacts i{
    color: white;
    font-size: 1.7rem;
}

#footer-contacts i:hover{
    color: var(--marromClaro);
}

#footer-navbar{
    display: flex;
    justify-content: center;
    margin: 30px;
}

#footer-navbar ul{
    display: flex;
    font-size: 22px;
    text-align: center;
    gap: 5.5em;
}

#footer-navbar ul a{
    color: white;
    white-space: nowrap;
}

#footer-navbar ul a:hover{
    color: var(--marromClaro);
}

/*MEDIA-QUERIES -----------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------*/


@media(min-width: 1900px){
    .navbar-list ul{
        font-size: 25px;
        gap: 5.5em;
        padding-right: 200px;

    }

    #footer-navbar ul{
        gap: 7em;
    }
}

@media(max-width: 1400px){
    .navbar-logo{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 6em;
    }
}

@media(max-width: 1250px){
    main{
        padding-top: 100px;
    }

    h1{
        font-size: 1.9em;
    }
    
    .barra-horizontal-agencia{
        width: 22em;
      }

    .foto-agencia img{
        height: 300px;
        width: 350px;
    }

    .info-agencia h2{
        font-size: 1.7em;
    }
    
    .info-agencia p{
       font-size: 1.2em;
       margin: 20px 0px 20px 0px;
       width: 600px;
    }
    
    #saibamais-botao{
        font-size: 1.1em;
    }

    #navbar{
        display: flex;
        padding: 13px 0 13px 0;
        gap: 3em; 
        position: relative;
    }

    .navbar-list ul{
        display: none;
    }

    .navbar-logo{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 5em;
    
    }

    #burguer{
        display: flex;
        margin-right: 5em;
    }

    .mobile-menu{
        background-color: var(--marromEscuro);
        height: 23em;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1em;

    }

    .mobile-menu ul a{
        display: block;
        padding-top: 1.2rem;
        border-top: 0.0625rem solid rgba(0, 0, 0, 0.171);
        border-radius: 0%;
    }

    .open{
        display: block;
    }

}

@media(max-width: 1023px){
    main{
        padding-top: 70px;
    }

    h1{
        font-size: 1.8em;
    }
    
    .barra-horizontal-agencia{
        height: 5px;
        width: 22em;
      }

    .foto-agencia img{
        height: 250px;
        width: 300px;
    }

    .info-agencia h2{
        font-size: 1.5em;
    }
    
    .info-agencia p{
       font-size: 1em;
       margin: 15px 0px 15px 0px;
       width: 500px;
    }
    
    #saibamais-botao{
        font-size: 1em;
        margin-left: 12em;
    }

    footer{
        display: flex;
        height: 430px;
    }


    #footer-container{
       grid-template-columns: min-content;
       gap: 3rem;
       width: 50%;
       order: 1;
       margin: 21px 30px 20px 70px;
    }

    #logo-footer{
        height: 150px;
        width: 150px;
        order: 2;
        align-items: center;
    }

    #footer-contacts{
        order: 3;
    }

    #footer-contacts i{
        font-size: 1.4em;
    }

    #footer-text{
        font-size: 14px;
        order: 4;
    }

    #footer-navbar{
        width: 50%;
        order: 5;
        margin: 30px 34px 30px 30px;
    }

    #footer-navbar ul{
        flex-direction: column;
        align-items: center;
        gap: 1.7em;
        font-size: 20px;
    }
}

@media(max-width: 768px){
    #navbar{
        gap: 2em;
    }  

    .navbar-logo img{
        display: flex;
        width: 4.5em;
        size: 4.5em;
    }
    
    main{
        padding-top: 70px;
    }

    h1{
        font-size: 1.6em;
    }
    
    .barra-horizontal-agencia{
        height: 4px;
        width: 20em;
      }

      .container-agencia{
        display: grid;
        grid-template-columns: repeat(1, 0fr);
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .foto-agencia {
        justify-content: center;
    }

    .foto-agencia img{
        height: 230px;
        width: 280px;
    }

    .info-agencia{
        margin-bottom: 2em;
    }

    .info-agencia h2{
        font-size: 1.1em;
        text-align: center;
    }
    
    .info-agencia p{
       font-size: 1em;
       margin: 15px 0px 15px 0px;
       width: 380px;
       text-align: center;
    }
    
    #saibamais-botao{
        font-size: 1em;
        margin-left: 8em;
    }

    footer{
        display: flex;
        height: 350px;
    }

    #footer-container{
       grid-template-columns: min-content;
       gap: 3rem;
       width: 50%;
       order: 1;
       margin: 30px 30px 20px 70px;
    }

    #logo-footer{
        height: 100px;
        width: 100px;
        order: 2;
        align-items: center;
    }

    #footer-contacts{
        order: 3;  
    }

    #footer-contacts i{
        font-size: 1.2em;
    }

    #footer-text{
        font-size: 10px;
        order: 4;
    }

    #footer-navbar{
        width: 50%;
        order: 5;
        margin: 30px 34px 30px 30px;
    }

    #footer-navbar ul{
        flex-direction: column;
        align-items: center;
        gap: 2em;
        font-size: 15px;
    }

}